<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
		</handlers>
		<iisnode watchedFiles="web.config;*.js;" />
		<rewrite>
			<rules>
				<rule name="HTTP to Prod HTTPS redirect" stopProcessing="true">
					<match url="x(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}{REQUEST_URI}" />
				</rule>
				<rule name="DynamicContent">
					<match url="/*" />
					<action type="Rewrite" url="app.js"/>
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>